__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Virtual Environment
venv/
ENV/
env/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# VSCode
.vscode/

# MacOS
.DS_Store

# Pytest cache
.pytest_cache/